$padding: 6px;
$primary-color: #004170;
$secondary-color: #8A8A8D;

%flex-center-between {
    gap: 6px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

%flex-center-start {
    gap: 6px;
    display: flex;
    align-items: center;
    justify-content: start;
}

%flex-center-center {
    gap: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
}

%base-font-size {
    font-size: 18px;
    font-weight: 400;
    line-height: 18px; 
    font-family: Roboto;
}

%button-font-size {
    color:#2196f3;
    font-size: 18px;
    font-weight: 600;
    line-height: 18px; 
    font-family: Roboto;
}
