@import "../../styles/vars.scss";

.wrapper {
  gap: 16px;
  width: 100%;
  display: flex;
  margin: 0 auto;
  padding: 0 18px;
  flex-direction: column;
  justify-content: start;
}

.firstSection {
  width: 100%;
  @extend %flex-center-between;
}
