@import '../../styles/vars.scss';

.wrapper {
    @extend %flex-center-center;
    &__img {
    width: 120px;
    height: 120px;
    display: block;
    object-fit: cover;
    padding: $padding;
    border-radius: 50%;
    @extend %flex-center-center;
    border: 2px solid $secondary-color;
}
};